<form [formGroup]="formLami" (ngSubmit)="agendarReserva()">
  <div class="container-fluid col-md-6 container-form">
    <h2 class="titulo">Reservar Livro</h2>
    <div class="row my-3">
      <div class="row my-3">
        <div class="col">
          <label for="nomeSolicitante" class="form-label"
            >Nome do Solicitante</label
          >
          <input
            type="text"
            class="form-control form-control-sm"
            id="nomeSolicitante"
            formControlName="nomeSolicitante"
          />

          <span
            class="text-danger"
            *ngIf="
              submitted && formLami.controls.nomeSolicitante.errors?.required
            "
          >
            Campo obrigatório.
          </span>
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <label for="nomeSolicitante" class="form-label">Livro</label>
          <select
            required="true"
            class="form-select"
            aria-label="Default select example"
            formControlName="laboratorio"
          >
            <option *ngFor="let lami of lamis" value="{{ lami.id }}">
              {{ lami.nome }}
            </option>
          </select>
          <span
            class="text-danger"
            *ngIf="submitted && formLami.controls.laboratorio.errors?.required"
          >
            Campo obrigatório.
          </span>
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <label for="dataReserva" class="form-label">Data da Reserva</label>
          <input
            required="true"
            type="date"
            class="form-control form-control-sm"
            id="dataReserva"
            formControlName="dataReserva"
          />
          <span
            class="text-danger"
            *ngIf="submitted && formLami.controls.dataReserva.errors?.required"
          >
            Campo obrigatório.
          </span>
        </div>
      </div>

      <span class="text-danger" *ngIf="dataInvalida">
        não é possível reservar este laboratório nesta data e horário.
      </span>

      <button type="submit" class="btn btn-success btn-agendar">AGENDAR</button>
    </div>
  </div>
</form>
